@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
	font-family: IBM Plex Mono;
  overflow-x: hidden;
  overflow-y: auto;
	background-color: black;
	color: white;
}

h1{
  font-size: 40px;
	line-height: 1.5;
}

header {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section img {
  width: 900px;
}

